$color-header: #a84747;
$color-header-text: #d3d3d3;
$color-footer: #291d24;
$color-input: #444444;
$color-input-text: #b9b9b9;
$main-color: #9c9c9c;
$report-color: #cacaca;
$color-symbol-button: rgb(209, 201, 189);
$color-special-button: rgb(223, 201, 189);
$color-button-active: rgb(153, 153, 153);
$color-button-border: rgb(77, 77, 77);
$footer-text-color: #7e7e7e;
$color-detail: #342a3a;
$color-detail-text: #e0eeff;

$max-width: 1400px;
$wrapper-min-width: 320px;
$input-width: 450px;

$movie-name-hight: 50px;
$footer-height: 50px;
$header-height: 100px;
$input-height: 26px;
$search-button-height: 45px;
$keyboard-height: 300px;
