#loadingProgress {
  position: absolute;
  top: 40px;
  left: 1px;
  margin: auto;
  width: calc(100% - 2px);
  height: 5px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.62);
  border: none;
}

.loadingProgress {
  background-color: rgb(255, 255, 255);
  margin-top: 0;
  margin-left: calc(-1 * (100% - 2px));
  animation-name: bounce_loadingProgress;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: calc(100% - 2px);
  height: 5px;
  border: none;
}

@keyframes bounce_loadingProgress {
  0% {
    margin-left: calc(-1 * (100% - 2px));
  }

  100% {
    margin-left: calc(100% - 2px);
  }
}
